body {
  margin: 0px;
  text-align: center;
  font-family: "Merriweather, serif;

}

h1 {
  line-height: 200%;
  font-weight: normal;
  font-family: 'Comforter', cursive;
  margin-top: 50px;
  font-size: 562.5%;
  color: White;
}

h2{
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #11999E;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}

.top-container {
  background-color: #eb6734;
  border: solid black 10px;
  margin-top: 50px;
}

.middle-container {

}
.lotusImg{
  height: 50%;
  width: 50%;
  float: left;
  margin-right: 30px;
}

.bulbImg{
  height: 50%;
  width: 50%;
  float: right;
  margin-left: 30px;
}

.bottom-container {
  height:  100px;
  margin: 60px auto 30px auto;
  background-color: #eb6734;

}

.footer-link{
  margin-top: 50px;

}

.topCloud {
  position: absolute;
  margin-left: 150px;
}

.bottomCloud {
  position: absolute;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    line-height: 1.5;
    text-align: left;
}
    .btn {
        margin-top: 25px;
      background: #3470d9;
      background-image: -webkit-linear-gradient(top, #3470d9, #b8342b);
      background-image: -moz-linear-gradient(top, #3470d9, #b8342b);
      background-image: -ms-linear-gradient(top, #3470d9, #b8342b);
      background-image: -o-linear-gradient(top, #3470d9, #b8342b);
      background-image: linear-gradient(to bottom, #3470d9, #b8342b);
      -webkit-border-radius: 8;
      -moz-border-radius: 8;
      border-radius: 8px;
      font-family: Arial;
      color: #ffffff;
      font-size: 20px;
      padding: 10px 20px 10px 20px;
      text-decoration: none;
    }

    .btn:hover {
      background: #fc3c3c;
      background-image: -webkit-linear-gradient(top, #fc3c3c, #162b38);
      background-image: -moz-linear-gradient(top, #fc3c3c, #162b38);
      background-image: -ms-linear-gradient(top, #fc3c3c, #162b38);
      background-image: -o-linear-gradient(top, #fc3c3c, #162b38);
      background-image: linear-gradient(to bottom, #fc3c3c, #162b38);
      text-decoration: none;
    }
